body {background: url(image/fon.jpg); margin: 0; padding: 0; font: 16px/24px Arial, Tahoma, sans-serif;}

/*structure*/
div.mid{width: 1200px; margin: 0 auto;}
div.header{height: 100 px; background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReCRixGbUIl0fFy1bYeLWJnXYgRKzsp3aAmmA-r8azwYo-8CkP);}

/*hat*/
div.mid{text-align:center;}
div.img{text-align:center;}
div.topmenu a{margin: 0 0 0 5px; color: #1683a3;}
div.topmenu a:hover {color: grey;}

/*nutro*/
div.seti{text-align:center; width:100px;}